@import "./variable.scss";

body {
  background: $bg-color;

  .header {
    font-size: 16px;
    line-height: 4em;
    text-align: center;
    background: #ccc;
  }

  .main {
    width: $main-width;
    line-height: 1.5em;

    p.common-color {color: green}
  }

  .footer {
    font-size: 16px;
    line-height: 6em;
    text-align: center;
    background: #333;
    color: #f7f7f7;
  }
}


